.StatsWrapper {
  background-color: #303030;
  opacity: 0.9;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px 20px 30px 20px;
}

.StatsWrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.StatsList {
  list-style: none;
}

.StatsList li {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.StatsList img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}