.SingleListItem {
    line-height: 25px;
    cursor: default;
}

.SingleListItem img {
    padding-left: 6px;
    padding-right: 6px;
    width: 16px;
    height: 16px;
}

.LeafSingleListItem {
    display: flex;
    align-items: center;
    color: #B6B6B6;
    width: 100%;
    line-height: 25px;
    padding-left: 20px;
    cursor: default;
}

.LeafSingleListItem img {
    padding-left: 6px;
    padding-right: 6px;
    width: 16px;
    height: 16px;
}

.SelectedLeafSingleListItem {
    display: flex;
    align-items: center;
    background-color: #257AFD;
    color: #FFF;
    width: 100%;
    line-height: 25px;
    padding-left: 20px;
    cursor: default;
}

.SelectedLeafSingleListItem::before {
    content: '';
    background-color: #257AFD;
}

.SelectedLeafSingleListItem img {
    padding-left: 6px;
    padding-right: 6px;
    width: 16px;
    height: 16px;
}

.ListItem ul {
    padding-left: 20px;
    list-style-position: inside;
}

.DiscloseFinalItem {
    display: inline-flex;
    align-items: center;
    color: #B6B6B6;
    width: 100%;
}

.DiscloseFinalItemHighlighted {
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: #B6B6B6;
    animation: colorchange 1s;
    -webkit-animation: colorchange 1s;
}

.DiscloseFinalItemSelected {
    display: inline-flex;
    align-items: center;
    background-color: #257AFD;
    color: #FFF;
    width: 100%;
}

@keyframes colorchange
{
    0%   {background: transparent; color: #B6B6B6;}
    50%  {background: #75bffa; color: #FFF;}
    100% {background: transparent; color: #B6B6B6;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0%   {background: transparent; color: #B6B6B6;}
    50%  {background: #75bffa; color: #FFF;}
    100% {background: transparent; color: #B6B6B6;}
}


.DiscloseClosedIcon {
    background: transparent;
    border-color: transparent;
    padding: 0px;
    margin-left: 10px;
	border-top: 6px solid transparent;
	border-left: 10px solid #555;
	border-bottom: 6px solid transparent;
}

.DiscloseOpenIcon {
    background: transparent;
    border-color: transparent;
    padding: 0px;
    margin-left: 10px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #555;
}