.SingleListItem {
  user-select: none;
  width: 100%;
  line-height: 25px;
  cursor: default;
}

.LeafSingleListItem {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #B6B6B6;
  padding-left: 20px;
}

.SelectedItem {
  background-color: #257AFD;
  color: #FFF !important;
}

.HighlightedItem {
  animation: colorchange 1s;
  -webkit-animation: colorchange 1s;
}

.ListItem ul {
  padding-left: 20px;
  list-style-position: inside;
}

.DiscloseFinalItem {
  width: 100%;
  display: inline-flex;
  align-items: center;
  color: #B6B6B6;
}

@keyframes colorchange {
  0% {
    background: transparent;
    color: #B6B6B6;
  }
  50% {
    background: #75bffa;
    color: #FFF;
  }
  100% {
    background: transparent;
    color: #B6B6B6;
  }
}

@-webkit-keyframes colorchange
/* Safari and Chrome - necessary duplicate */

  {
  0% {
    background: transparent;
    color: #B6B6B6;
  }
  50% {
    background: #75bffa;
    color: #FFF;
  }
  100% {
    background: transparent;
    color: #B6B6B6;
  }
}

.DiscloseArrow {
  background: transparent;
  border-color: transparent;
  padding: 0px;
  margin-left: 10px;
}

.ClosedArrow {
  border-top: 6px solid transparent;
  border-left: 10px solid #555;
  border-bottom: 6px solid transparent;
}

.OpenArrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #555;
}

.Icon {
  overflow: visible;
  padding-left: 6px;
  padding-right: 6px;
  width: 16px;
  height: 16px;
}

.SelectedIcon g {
  fill: #FFFFFF;
}

.Blocked g {
  fill: red;
}