.ContentWrapper {
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  background-color: #303030;
  opacity: 0.9;
  border-radius: 3px;
  /* padding: 30px 18px 30px 18px; */
  margin-top: 30px;
  counter-reset: line;
}

@font-face {
  font-family: 'FiraMono-Regular';
  src: local('FiraMono-Regular'), url(../../../../resources/fonts/FiraMono-Regular.ttf) format('ttf');
}

.Title {
  word-wrap: break-word;
  word-break: break-all;
  font-family: 'FiraMono-Regular';
  overflow: hidden;
}

.Header {
  word-wrap: break-word;
  word-break: break-all;
  font-family: 'FiraMono-Regular';
  overflow: hidden;
}

.Key {
  color: #BC3821;
}

.Content {
  color: #F6F5F5;
}

.CenteredContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

/* BODY FORMATTERS */

.Body {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-family: 'FiraMono-Regular';
  overflow: hidden;
}

.line {
  display: flex;
}

.line:before {
  background-color: #232323;
  color: #6f6f6f;
  counter-increment: line;
  content: counter(line);
  width: 30px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-around;
  margin-right: 8px;
}

.JsonKey {
  color: orange;
}

.FormKey {
  color: orange;
}

.FormValue {
  color: #7DEB5B;
}

.XmlTag {
  color: #E54072;
}