.SplitPane {
  grid-template-columns: auto auto 1fr;
  background: #1F1F1F;
  color: white;
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
  outline: none;
  overflow: hidden;
}

.Resizer {
  margin: 5px;
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  background: #B6B6B6;
  opacity: 0.5;
  z-index: 1;
  box-sizing: border-box;
  background-clip: border-box;
}

.Resizer:hover {
  transition: all 2s ease;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}