.Toolbar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #3D3D3D;
  border-bottom: 100px;
  border-bottom-color: black;
}

.ToolbarButtonIcon {
  height: 16px;
  width: 16px;
}

.ToolbarButtonIconEnabled {
  height: 16px;
  width: 16px;
}

.ToolbarButtonIconEnabled g {
  fill: red;
}