.ContextMenu {
  display: flex;
  flex-flow: column;
  position: absolute;
  z-index: 9999;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  border-color: #494949;
  border-width: 1px;
  border-style: solid;
  min-width: 150px;
}

.Separator {
  height: 1px;
  background-color: #494949;
}

.Item {
  margin: 0;
  font-size: 20;
  padding: 16px;
}

.Item:hover {
  background-color: #3E68DB;
}